# Assignment 2

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Source:**

Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athleteâ€™s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [1]:
# Your answer goes here

Use `info()` method on this DataFrame to get a sense of the data:

In [2]:
# Your answer goes here

## Question 1
Clearly not every athlete receives a medal in the Olympics. How many records have a non-null value for `Medal` field? In other words, how many medals were given according to this dataset?

In [3]:
# Your answer goes here

Use the `head()` method to inspect the first few rows of the data:

In [4]:
# Your answer goes here

## Question 2

What is the minimum and maximum `Year`?

In [5]:
# Your answer goes here

In [6]:
# Your answer goes here

## Question 3

Is the following statement True or False?

> Average age of female athletes who attended the olympic games after 1990 has raised when compared to the era before then.

In [7]:
# Your answer goes here

In [8]:
# Your answer goes here

## Question 4

How many Gold medals were given to men from 1970 to 2000 (including both years)?

In [9]:
# Your answer goes here

## Question 5

How many athletes attended the olympic games in 1968?

Hint: You can use the method `.unique()` on any pandas Series to get the unique values. Any column subset of a DataFrame returns a Series object.

In [10]:
# Your answer goes here

## Question 6

Who won the event "Swimming Men's 100 metres Breaststroke" in 2004? Please note that in the Event description "metres" is spelled in British!

In [11]:
# Your answer goes here