# Working with APIs

In this notebook we will work with YELP API as an example of collecting data from an application programming interface, API.

In order to follow these steps you will need to have your own API key.

* Generate Yelp API Key (you need to have a YELP account): https://www.yelp.com/developers/v3/manage_app

In [0]:
# Import packages
import requests
import pandas as pd
import json

In [0]:
api_url = "https://api.yelp.com/v3/businesses/search"

In [0]:
#@title Replace your own API Key here { run: "auto", vertical-output: true, display-mode: "form" }
api_key = "" #@param {type:"string"}

In [0]:
# Set up parameter dictionary according to documentation
params = {"term": "cafe", 
          "location": "Boston"}

# Set up header dictionary w/ API key according to documentation
headers = {"Authorization": "Bearer {}".format(api_key)}

In [0]:
# Call the API
response = requests.get(api_url,
                        params=params,
                        headers=headers)

In [0]:
# Isolate the JSON data from the response object
data = response.json()

# Load data to a data frame
cafes = pd.DataFrame(data["businesses"])

cafes.head(2)

                       id                  alias  ...   display_phone     distance
0  e4r0wRKY_iNdmDffnV0ntw  ogawa-coffee-boston-2  ...  (617) 780-7139  1474.820314
1  06feX4qEHFMcPZsiWtvYfw  thinking-cup-boston-5  ...  (617) 247-3333   516.679758

[2 rows x 16 columns]

In [0]:
cafes.shape

(20, 16)

In [0]:
for id in cafes.id:
  url="https://api.yelp.com/v3/businesses/" + id + "/reviews"
  req = requests.get(url, headers=headers)
  data = response.json()
  df = pd.DataFrame(data["businesses"])
  df.head(1)

In [0]:
url="https://api.yelp.com/v3/businesses/" + cafes.id[0] + "/reviews"
response = requests.get(url, headers=headers)
data = response.json()

In [0]:
pd.DataFrame(data['reviews'])

                       id  ...                                               user
0  QKA8U45o2FznkhUgSOXkbg  ...  {'id': 'e1E55pOcV2TDtZJMZyA6aA', 'profile_url'...
1  AEh7fYiiKFMsCd6UcdFJPQ  ...  {'id': 'FTNlMGxVV2KZh4qjCLYuEQ', 'profile_url'...
2  NYbzPadzOdjqE65ahKJ7-Q  ...  {'id': '7bb1FK71jF-I2DKI45gpnw', 'profile_url'...

[3 rows x 6 columns]